<div class="container-fluid p-4">
    
    <h4>Add a new member</h4>
    
    <div class="row">
        <div class="col-12">
          <div class="p-2">
            <!-- Form  -->
            <form>
              <div class="row">
                <label class="col-sm-4 col-md-6 col-lg-5 col-xl-2 col-form-label"
                  >Code</label
                >
                <div class="col-sm-7 col-md-6 col-lg-7 col-xl-4">
                  <input type="text" class="form-control" placeholder="Code" />
                </div>
                <label class="col-sm-4 col-md-6 col-lg-5 col-xl-2 col-form-label"
                  >Name</label
                >
                <div class="col-sm-7 col-md-6 col-lg-7 col-xl-4">
                  <input type="text" class="form-control" placeholder="Name" />
                </div>
                <label class="col-sm-4 col-md-6 col-lg-5 col-xl-2 col-form-label mt-2"
                  >Email</label
                >
                <div class="col-sm-7 col-md-6 col-lg-7 col-xl-4">
                  <input
                    type="text"
                    class="form-control mt-2"
                    placeholder="Email"
                  />
                </div>
              </div>
            </form>
            <div class="row pt-3">
              <div class="col-4 text-left">
                <button class="btn btn-danger" type="button">
                    <i class="fas fa-times-circle mr-1"></i>Cancel
                  </button>
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-check mr-1"></i>Create
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>
